:root { 
    --color-de-fondo: #ffffff;
    --color-de-fondo-menu: #000000;
    --color-de-link: #1100fe;
    --color-de-cabecera:#ffffff;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    font-size: 18px; 
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 1rem;
    background-color: var(--color-de-fondo-menu);
    justify-content: space-between;
    color:var(--color-de-cabecera);
}

.cabecera__titulo {
    font-size: 1.2rem;
    text-align:left;
}

.navegacion__lista {
    display: flex;
    gap: 1rem;
}

.navegacion__elemento a {
    font-size: 1rem;
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background-color: var(--color-de-fondo);
    margin: 15px;
    box-sizing: border-box;
}

.presentacion__foto {
    width: auto; 
    max-width: 200px;
    border-radius: 40px;
    box-shadow: 10px 10px 16px rgba(4, 0, 255, 0.1);
    height: auto;
    margin-bottom: 2rem;
}

.presentacion__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin: 15px;
    box-sizing: border-box;
}

.sobre-mi__titulo {
    text-align: center;
    margin-bottom: 1rem;
}

/* ------------------------------ Sección de Habilidades ------------------------------*/
.habilidades__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    padding: 1rem;
}

.habilidades__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100px;
}

.habilidades__icono {
    width: 100%;
    max-width: 100px;
    height: auto;
    box-shadow: 10px 10px 16px rgba(4, 0, 255, 0.1);
}

.habilidades__titulo {
    text-align: center;
    margin-bottom: 1rem;
}

/* ------------------------------ Sección de Aficiones --------------------------------*/
.aficiones__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    padding: 1rem;
}

.aficiones__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100px;
}

.aficiones__icono {
    width: 100%;
    max-width: 100px;
    height: auto;
    box-shadow: 10px 10px 16px rgba(4, 0, 255, 0.1);
}

.aficiones__titulo {
    text-align: center; 
    margin-bottom: 1rem;
}

/* ------------------------------ Sección de Redes Sociales --------------------------*/
.redes__imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 5rem;
    padding: 1rem;
}

.redes__img {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    max-width: 100px; 
    text-align: center; 
}

.redes__img img {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-bottom: 0.5rem;
    box-shadow: 10px 10px 16px rgba(4, 0, 255, 0.1);
}

.redes {
    text-align: center; 
    margin-bottom: 1rem;
}

/* ------------------------------ Sección de Formación --------------------------------*/
.formacion__titulo {
    text-align: center; 
    margin-bottom: 1rem;
}

.formacion__lista {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    gap: 5rem; 
    padding: 1rem;
}

.formacion__elemento {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    max-width: 200px; 
}

.formacion__icono {
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 16px rgba(4, 0, 255, 0.1);
}


/* ------------------------------ Sección de Proyectos --------------------------------*/
.proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--color-de-fondo);
    margin: 15px;
    box-sizing: border-box;
}

.proyectos__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* ------------------------------ Sección de Contacto --------------------------------*/
.contacto__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.contacto__campo {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    box-shadow: 10px 10px 16px rgba(4, 0, 255, 0.1);
}

.contacto__boton {
    padding: 0.7rem 2rem;
    background-color: var(--color-de-link);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 16px rgba(4, 0, 255, 0.1);
    
}

.contacto__titulo {
    text-align: center; 
    margin-bottom: 1rem;
}

/* ------------------------------ Responsividad ---------------------------------------*/

/* Pantallas menores a 768px: todo en columnas centradas */
@media (max-width: 768px) {
    .cabecera {
        flex-direction: column;
    }
    .navegacion__lista {
        display: none;
    }

    .presentacion, .sobre-mi, .proyectos, .contacto__formulario {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem;
    }
   
    .presentacion__contenedor, .sobre-mi__contenedor, .proyectos__contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .formacion__lista {
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: center; 
        gap: 1rem; 
    }
}

/* Pantallas grandes */
@media (min-width: 1024px) {
    .cabecera__titulo {
        font-size: 1.8rem;
    }

    .navegacion__elemento a {
        font-size: 1.1rem;
    }
}
